<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5"
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 

    <display-name>openjava web application server</display-name>

    <context-param>
        <param-name>webAppRootKey</param-name>
        <param-value>upay.context.root</param-value>
    </context-param>

    <context-param>
        <param-name>logbackConfigLocation</param-name>  
        <param-value>classpath:org/openjava/upay/web/conf/logback.xml</param-value>
    </context-param>

    <context-param>
        <param-name>contextConfigLocation</param-name>  
        <param-value>classpath:org/openjava/upay/web/conf/upay-server.xml</param-value>
    </context-param>
    
    <context-param>
        <param-name>httl.properties</param-name>
        <param-value>classpath:org/openjava/upay/web/conf/httl.properties</param-value>
    </context-param>

    <listener>
        <listener-class>ch.qos.logback.ext.spring.web.LogbackConfigListener</listener-class>  
    </listener>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>  
    </listener>

    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:org/openjava/upay/web/conf/upay-mvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <filter>  
        <filter-name>CharacterEncodingFilter</filter-name>  
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
        <init-param>
            <param-name>encoding</param-name>  
            <param-value>utf-8</param-value>  
        </init-param>  
    </filter>

    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>  
        <url-pattern>*.do</url-pattern>  
    </filter-mapping>
    
    <filter-mapping>  
        <filter-name>CharacterEncodingFilter</filter-name>  
        <url-pattern>*.page</url-pattern>  
    </filter-mapping>
    
    <filter>
        <filter-name>distributedSessionFilter</filter-name>  
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>  
        <init-param>
            <param-name>targetFilterLifecycle</param-name>  
            <param-value>true</param-value>  
        </init-param>
    </filter>

    <filter-mapping>  
        <filter-name>distributedSessionFilter</filter-name>  
        <url-pattern>*.do</url-pattern>  
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>distributedSessionFilter</filter-name>  
        <url-pattern>*.page</url-pattern>  
    </filter-mapping>
    
    <filter>
        <filter-name>timeoutSessionFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
        <init-param>
            <param-name>targetFilterLifecycle</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <filter-mapping>  
        <filter-name>timeoutSessionFilter</filter-name>  
        <url-pattern>*.do</url-pattern>  
    </filter-mapping>
    
    <filter-mapping>  
        <filter-name>timeoutSessionFilter</filter-name>  
        <url-pattern>*.page</url-pattern>  
    </filter-mapping>
</web-app>
