<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE configuration    
   PUBLIC "-//mybatis.org//DTD Config 3.0//EN"    
   "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="multipleResultSetsEnabled" value="true" />
        <setting name="useColumnLabel" value="true" />
        <setting name="defaultStatementTimeout" value="25000" />
    </settings>

    <typeHandlers>
        <typeHandler handler="org.openjava.upay.shared.mybatis.GenericEnumTypeHandler" javaType="org.openjava.upay.shared.type.Gender"/>
        <typeHandler handler="org.openjava.upay.shared.mybatis.GenericEnumTypeHandler" javaType="org.openjava.upay.shared.type.EmployeeStatus"/>
        <typeHandler handler="org.openjava.upay.shared.mybatis.GenericEnumTypeHandler" javaType="org.openjava.upay.core.type.MerchantStatus"/>
        <typeHandler handler="org.openjava.upay.shared.mybatis.GenericEnumTypeHandler" javaType="org.openjava.upay.core.type.Pipeline"/>
        <typeHandler handler="org.openjava.upay.shared.mybatis.GenericEnumTypeHandler" javaType="org.openjava.upay.core.type.Action"/>
        <typeHandler handler="org.openjava.upay.shared.mybatis.GenericEnumTypeHandler" javaType="org.openjava.upay.core.type.AccountType"/>
        <typeHandler handler="org.openjava.upay.shared.mybatis.GenericEnumTypeHandler" javaType="org.openjava.upay.core.type.AccountStatus"/>
        <typeHandler handler="org.openjava.upay.shared.mybatis.GenericEnumTypeHandler" javaType="org.openjava.upay.trade.type.FeeType"/>
        <typeHandler handler="org.openjava.upay.shared.mybatis.GenericEnumTypeHandler" javaType="org.openjava.upay.trade.type.TransactionType"/>
        <typeHandler handler="org.openjava.upay.shared.mybatis.GenericEnumTypeHandler" javaType="org.openjava.upay.trade.type.TransactionStatus"/>
    </typeHandlers>
</configuration>