<?xml version="1.0" encoding="UTF-8"?>
<configuration>  
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
        <encoder>  
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level %logger{30} - %msg%n</pattern>  
        </encoder>  
    </appender>
    
    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">    
        <file>${catalina.home:-.}/logs/openjava-server.log</file>
    
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${catalina.home:-.}/logs/openjava-server.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %level %logger{30} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="com.diligrp.openjava" additive="true">
        <level value="debug" />
        <appender-ref ref="File" />
    </logger>
    
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>  